<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/criar.css">
    

    <title>Publique !</title>
</head>
<body>
    <%- include('header'); %>
    <main>

        <form action="/subscription" method="POST">
            <div>
                <input class="input-criar" type="text" name="nome" id="nome" placeholder="Nome" required>
                <span data-placeholder="Nome"></span>
            </div>
        
            <div>
                <input class="input-criar" type="email" name="email" id="email" placeholder="Digite seu email" required>
                <span data-placeholder='Digite seu email'></span>
            </div>
            <div>
                <input class="input-criar" type="text" name="titulo" id="titulo" placeholder="Digite o titulo" placeholder="Digite o titulo" required>
                <span data-placeholder="Digite o titulo"></span>
            </div>
    
    
            <div  class = "publiq">
                <label>Digite seu artigo</label>
                <textarea class="text-area" rows="30" cols="300" maxlength="5000" id="publi" name="publi" wrap="hard" autofocus required>
                </textarea>
    
            </div>
        
            <button type="submit">Inscrever-se</button>
        </form>
        
    </main>
</body>
</html>