<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sobre.css">
    <link rel="icon" type = " image / jpg " href="logo.jpeg">

    <title>Sobre</title>
</head>
<body>
    <%- include('header'); %>

    <section class="autores">
        <h3 class="autores__titulo"> - Autores deste projeto - </h3>
        <p class="autores__contato">Para entrar em contato:</p>
        <div class="pessoas">
            <div>
                <div class="pessoa__imagem pessoa__imagem--rafael"></div>
                <span class="pessoa__nome">Rafael:</span>
                <a href="https://github.com/Rafapearl" class="pessoa__link" target="_blank">
                    GitHub
                </a> &
                <a href="https://www.linkedin.com/in/rafael-freitas-74453376/" class="pessoa__link" target="_blank">
                    LinkedIn
                </a>
            </div>
            <div>
                <div class="pessoa__imagem pessoa__imagem--bernardo"></div>
                <span class="pessoa__nome">Bernardo:</span>
                <a href="https://github.com/bernaRocha" class="pessoa__link" target="_blank">
                    GitHub
                </a> &
                <a href="https://www.linkedin.com/in/bernardo-monteiro-rocha-b302101b3/" class="pessoa__link" target="_blank">
                    LinkedIn
                </a>
            </div>
            <div>
                <div class="pessoa__imagem pessoa__imagem--ruy"></div>
                <span class="pessoa__nome">Ruy:</span>
                <a href="https://github.com/RuyGuilherme" class="pessoa__link" target="_blank">
                    GitHub
                </a> &
                <a href="https://www.linkedin.com/in/ruy-guilherme-70955b146" class="pessoa__link" target="_blank">
                    LinkedIn
                </a>
            </div>
        </div>
    </section>
</body>
</html>