/* Página de criação de artigos */

main {
  margin: 30px 0 0 30px;
  display: flex;
  height: 600px;
  font-size: 1.2em;
}


.text-area {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 900px;
  height: 1200px;
  transition: all 0.2s;
  resize: none;
}

.text-area:hover {
  background-color: #eeeeee;
}

.text-area:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}


.publiq {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1em;
}

.input-criar {
  background-color: transparent ;
  border: 0;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}
.input-criar ::placeholder {
  color: black; font: 3em sans-serif;}

.input-criar:focus {
  outline: 0;
  color: aqua;
}

.input-criar::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.4em;
}

<<<<<<< HEAD
button {
  color: #fff;
  border: 0;
  background-color: #1C1369;
  
}
=======


>>>>>>> c7bfbca83ef708c7839cac7a2bdc418f1b1109e5
