/* Página de criação de artigos */

main {
  margin: 30px 0 0 30px;
  display: flex;
  height: 600px;
}

.input-criar label {
  font-size: 1.2rem;
}

.text-area {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 900px;
  height: 1200px;
  transition: all 0.2s;
  resize: none;
}

.text-area:hover {
  background-color: #eeeeee;
}

.text-area:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}


.publiq {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input-criar {
  background-color: transparent ;
  border: 0;
  border-bottom: 2px solid #000;
}
.input-criar ::placeholder {
  color: black; font: 3em sans-serif;}

.input-criar:focus {
  outline: 0;
}

.input-criar::placeholder {
  color: #fff;
}

button {
    
}

.DigArt{margin:1em; align:center;}