body {
  background: rgb(245, 255, 242);  height: 800px;
  width:  100%;
  font-family: 'Roboto', sans-serif;
}

/*cores da logo: #1C1369   , #7A6BFF*/

section#message {
    padding: 1.5rem;
    background-color: rgb(196, 189, 255);
    color: #004d04;
    top: 0rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    position: fixed;

  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
  }

  .publiq {
    display: flex; 
    align-items: center; 
    text-align: center; 
    width: 70%;}